.Button-main {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    font-size: 1.1em;
}

.Button-badge {
    background-color: red;
    padding: 6px;
    font-size: 0.6em;
    padding-top: 3px;
    padding-bottom: 4px;
    position: absolute !important;
    top: 5px !important;
}